<h1>Places</h1>
<% @places.each do |place| %>
<h3><%= link_to place.name, place_path(place) %><%= link_to "delete", hybrid_place_path(hybrid_id: @hybrid.id, id: place.id), method: :delete %></h3>
<% end %>
