<h1>Places</h1>
<h3><%= flash[:notice] if flash[:notice] %></h3>
<% @hybrid_places.each do |hybrid_place| %>
<h2><%= link_to hybrid_place.place.name, place_path(hybrid_place.place) %></h2>
<% if current_user == hybrid_place.hybrid.user %>
<h5><%= link_to "Delete Place", hybrid_place_path(id: hybrid_place.id), method: :delete %></h5>
<h5><%= link_to "Edit Place", edit_hybrid_place_path(hybrid_id: hybrid_place.hybrid.id, id: hybrid_place.id) %></h5>
<% end %>
<% end %>

<img src="https://cdnb.artstation.com/p/assets/images/images/033/353/713/large/alex-waller-hybridspage8.jpg?1609296115">
