<h1>Places</h1>
<% @hybrid_places.each do |hybrid_place| %>
<h3><%= link_to hybrid_place.place.name, place_path(hybrid_place.place) %> <%= link_to "delete", hybrid_place_path(id: hybrid_place.id), method: :delete %></h3>
<% end %>
