<h1> Sodas </h1>

<h4><%= flash[:notice] if flash[:notice] %></h4>

<% @sodas.each do |f| %>
<h2><%= link_to f.name, minimart_soda_path(f.minimart, f) %></h2>
<h3><%= f.company %></h3>
<img src="<%= f.image %>". alt="Soda Image">
<% end %>